<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>Web 1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        function takeValue(){
            document.getElementById()
        }

    </script>
</head>
<body>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody>
        <#list products as product>
    <tr>
        <td>${product.id}</td>
        <td>${product.name}</td>
        <td>${product.price}</td>
        <td>
            <form action="/delete" method="POST">
                <input type="hidden" name="id" value="${product.id}">
                <input type="submit" class="btn btn-danger" value="Delete" name="btn"
               onclick="if(!(confirm('Are you sure you want delete this product'))) return false"></form>

            <form action="/update" method="POST">
                <input type="hidden" value="${product.id}" name="id">
                <input type="hidden" value="${product.name}" name="name">
                <input type="hidden" value="${product.price}" name="price">
                <input type="submit" class="btn btn-primary" value="Update" name="btn"></form>
        </td>
    </tr>
    </#list>
    </tbody>
</table>

</body>
</html>