<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    </script>
    <title>Update product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js">
    </script>
</head>

<body>
<div id="wrapper">
    <div id="header">
        <h2>PRM - Product update Manager</h2>
    </div>
</div>
<div id="container">
    <h3>Update Product</h3>
    <form id="userFrom">
        <label>Id:</label>
        <input value="${id}" name="id" id="id"/><br>
        <label>Name :</label>
        <input value="${name}" name="name" id="name"/></br>
        <label>Price :</label>
        <input value="${price}" name="price" id="price"/></br>
        <input type="submit" value="Save" class="save" name="myButton"/>
    </form>
</div>

<label id="msg"></label>

<script src="/script/index.js"></script>
<script src="/script/library.js"></script>
<script src="/script/app.js"></script>
</body>
</html>
