
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Save Customer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js">
    </script>
</head>

<body>
<div id="wrapper">
    <div id="header">
        <h2>PRM - Product update Manager</h2>
    </div>
</div>
<div id="container">
    <h3>Update Product</h3>
    <form  id="userFrom" >
        <table>
            <tbody>
            <tr>
                <td><label>Id:</label></td>
                <td><input  value="${id}" name="id" /></td>
            </tr>
            <tr>
                <td><label>Name :</label></td>
                <td><input value="${name}" name="name"/></td>
            </tr>
            <tr>
                <td><label>Price :</label></td>
                <td><input  value="${price}" name="price"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Save" class="save" /></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<label id = "msg"></label>

<script src="src/main/resources/static/script/index.js"></script>
</body>
</html>
